.Board-mode-container {
  margin-top: 30px;
}

.Board-mode-title {
  margin-bottom: 20px;
  font-weight: bold;
}

.Board-mode-label {
  display: block;
  margin: 0 0 10px 10px;
}

.Board-svg {
  margin-top: 50px;
}
