.Board-mode-and-instructions-container {
  display: flex;
  margin-top: 50px;
}

.Board-title {
  margin-bottom: 20px;
  font-weight: bold;
}

.Board-mode-label {
  display: block;
  margin: 0 0 10px 10px;
}

.Board-instructions-container {
  margin-left: 100px;
}

.Board-instructions-content {
  width: 250px;
}

.Board-instructions-well-done {
  margin-top: 22px;
  color: #16ac16;
  font-weight: bold;
}

.Board-solution-container {
  margin-top: 25px;
}

.Board-unsolvable {
  margin-left: 20px;
  color: #ff0000;
  font-weight: bold;
}

.Board-svg {
  margin-top: 50px;
}
